name: Docker Push

on:
  release:
    types: [published]

jobs:
  docker_push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ros_distro: [foxy, galactic, humble, iron, jazzy, rolling, kilted]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push docker
        uses: docker/build-push-action@v6
        with:
          build-args: ROS_DISTRO=${{ matrix.ros_distro }}
          push: true
          tags: mgons/yasmin:${{ matrix.ros_distro }}-${{ github.event.release.tag_name }}
